.output {
  background: #444;
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.currentValue,
.pendingValue {
  color: #fff;
  padding-right: 7.5px;
}

.operator {
  color: #fff;
  position: absolute;
  right: 15px;
  font-size: 20px;
}

.pendingValue {
  margin-bottom: auto;
  padding-top: 10px;
  font-size: 17px;
}

.currentValue {
  font-size: 35px;
}
