.output {
  background: #444;
  height: 60px;
  display: flex;
  flex-flow: row-wrap;
  justify-content: flex-end;
  align-items: center;
}

.currentValue {
  color: #fff;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 30px;
}
